* {
  margin: 0;
  padding: 0;
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#yellow-block {
  position: absolute;
  padding: 10px;
  margin-top: 6px;
  width: 10px;
  height: 20px;
  background-color: yellow;
  left: 26px;
}

.keyboard-container {
  margin-top: 200px;
}

#target-letter {
  font-size: 38px;
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
  height: 25px;
}

.glyphicon {
  display: none;
}

.glyphicon-ok {
  color: #1da237;
}

.glyphicon-remove {
  color: #cd2626;
}

#keyboard-upper-container {
  display: none;
}

.highlight-key {
  background-color: yellow;
}

.typed {
  opacity: 0.75;
}

.typed-ok {
  background-color: rgb(97, 207, 97);
}

.typed-wrong {
  background-color: rgb(207, 97, 97);
}
